.carousel-container {
    max-width: 72rem;
    margin: 0 auto;
    padding: 2rem;
}

.carousel-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2.5rem;
    align-items: center;
}

@media (min-width: 1024px) {
    .carousel-grid {
        grid-template-columns: 1fr 2fr; /* Changed to give more space for slides */
    }
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-title {
    font-size: 38px;
    font-weight: 700;
    color: #111827;
    line-height: 1.2;
    width: 100%;
}

.main-description {
    margin-top: 1rem;
    color: #4B5563;
    width: 90%;
}

.explore-button {
    display: flex;
    justify-content: center;
    background-color: #D97706;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0;
    transition: background-color 0.2s;
    border: none;
    cursor: pointer;
    width: 40%;
}

.explore-button:hover {
    background-color: #B45309;
}


.slider-section {
    position: relative;
    display: flex;
    overflow: hidden;
}

.slider-overflow {
    display: flex;
    transition: transform 0.5s ease-out; /* Smooth transition for horizontal sliding */
}

.slider-track {
    display: flex;
    width: 75%;
}

.slide {
    flex-shrink: 0; /* Prevent slide shrinkage */
    width: 65%;
    height: 100%; /* Ensure slide fills the container height */
    position: relative; /* To position overlays on top of the image */
}

.slide-image {
    width: 75%;
    height: auto; /* Ensure image fills the container */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
}


.slide-info-content {
    color: white;
    text-align: center;
    padding: 20px;
}

.slide-meta {
    font-size: 14px;
    margin-bottom: 10px;
}

.slide-title {
    font-size: 24px;
    font-weight: bold;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    color: #D97706;
    border: none;
    padding: 13.5px 10px;
    cursor: pointer;
    z-index: 10; /* Make sure it stays on top of the slider */
}

.icon {
    font-size: 24px;
}
